* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  body {
    display: flex;
  }
}
main {
  background: #DCCCBC;
}
@media (min-width: 768px) {
  main {
    min-height: 100vh;
  }
}
.navbar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  
}

.navbar .navbar-head {
    padding: 20px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media (min-width: 768px) {
  .navbar .navbar-head {
    padding: 66px;
  }
}
.navbar .navbar-head h1 {
    color: #000;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
}
.navbar .navbar-head .logo{
  background-color: #fff;
  width: 48px;
  height: 48px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .navbar .navbar-head .logo {
    position: absolute;
    right: 0%;
    transform: translateX(50%);
  }
}
.navbar .navbar-head .logo .icon {
  width: 31px;
  height: 28px;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  border-radius: 86% 45% 56% 0% / 76% 55% 51% 45%;
  position: relative;
}
.navbar .navbar-head .logo .icon::before {
  position: absolute;
  content: ' ';
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  top: 7px;
  right: 6px;
}
.navbar .navbar-head .logo .icon::after {
  position: absolute;
  content: ' ';
  width: 7px;
  height: 5px;
  border-top: 5px solid #000;
  border-top-right-radius: 7px;
  top: 7px;
  right: -6px;
}

.navbar .navbar-nav {
  padding-bottom: 40px;
  display: none;
}
.navbar .navbar-nav.open {
  display: block;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: block;
  }
}
.navbar .navbar-nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar .navbar-nav .nav-item a {
  color: #000;
  text-align: center;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.navbar .navbar-nav .nav-item.active a{
  color: #A66;
  text-decoration:underline
}

.hamburger {
  padding: 12px;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.hamburger .bar {
  background-color: #000;
  position: relative;
  width: 24px;
  height: 4px;
  margin-top: 4px;
}



.hamburger.open .bar.top {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open .bar.meat {
  opacity: 0;
}

.hamburger.open .bar.bottom {
  transform: translateY(-8px) rotate(-45deg);
  
}

section.jumbotrun {
  min-height: 310px;
  padding: 12px;
  color: #FFF;
  text-align: right;
  font-family: Noto Sans;
  background-image: url("/asset/image/jumbo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: end;
}
@media (min-width: 768px) {
  section.jumbotrun {
    height: 634px;
  }
}
section.jumbotrun .content {
  display: flex;
  flex-direction: column;
  align-items: end;
}
section.jumbotrun h2 {
    max-width: 285px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    justify-self: end;
}
section.jumbotrun p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section.features {
  color: #000;
  font-family: Noto Sans;
}
@media (min-width: 768px) {
  section.features {
    display: flex;
  }
}
section.features .box {
  display: flex;
  padding: 50px 36px;
  flex: 1;
}
section.features .box h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  writing-mode: vertical-lr;
  margin-right: 38px;
  position: relative;
  align-self: flex-start;
}
section.features .box h3::after {
  content: ' ';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border:8px solid rgba(170, 102, 102, 0.60);
  position: absolute;
  right: -16px;
  bottom: -10px;
}
section.features .box p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

